<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Text Mining Library for Biodiversity Literature</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.teal-pink.min.css" /> 
<link rel="stylesheet" href="webapp.css">
</head>
<body ng-app="text-mining" class="mdl-demo mdl-color--grey-100 mdl-base mdl-color-text--grey-700">
	<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header" ng-controller="InitTaskCtrl as c">
		<header class="mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
        	<div class="mdl-layout--large-screen-only mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">Text Mining Library for Biodiversity Literature</span>
			</div>
		</header>
		<div class="demo-drawer mdl-layout__drawer mdl-color--grey-900 mdl-color-text--grey-50">
        <header class="demo-drawer-header">
          <img src="assets/logo_conabio.png" class="demo-avatar">
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--grey-800">
          <a class="mdl-navigation__link" href="#/single_file"><i class="mdl-color-text--grey-400 material-icons" role="presentation">insert_drive_file</i>Procesar un archivo</a>
          <a class="mdl-navigation__link" href="#/batch"><i class="mdl-color-text--grey-400 material-icons" role="presentation">clear_all</i>Proceso completo</a>
          <div class="mdl-layout-spacer"></div>
        </nav>
      </div>
  		<main class="mdl-layout__content mdl-color--grey-200" ng-switch on="step">
  		
  			<!-- ******************* Welcome screen ******************************* -->
  		
  			<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" ng-switch-when="0">
				<div class="mdl-card mdl-cell mdl-cell--12-col">
					<div class="mdl-card__supporting-text">
						<h4>Bienvenido</h4>
						Selecciona una opción del menú izquierdo
					</div>
           		</div>	
			</section>
			
			<!-- ****************************************************************** -->
			
			
			
			
			
			
			<!-- ******************* Working screen ******************************* -->
  		
  			<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" ng-switch-when="-1">
				<div class="mdl-card mdl-cell mdl-cell--12-col">
					<div class="mdl-card__title mdl-color--grey-800 mdl-color-text--grey-400">
						<h2 class="mdl-card__title-text">
							Trabajando
    					</h2>
					</div>
					<div class="mdl-card__supporting-text">
						<h6>Esto puede demorar varios minutos.</h6>
					</div>
					<div class="mdl-card__actions">
    					<div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
 					</div>
           		</div>	
			</section>
			
			<!-- ****************************************************************** -->
			
			
			
			
			<!-- ******************* Error screen ******************************* -->
  		
  			<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" ng-switch-when="-10">
				<div class="mdl-card mdl-cell mdl-cell--12-col">
					<div class="mdl-card__title mdl-color--grey-800 mdl-color-text--grey-400">
						<h2 class="mdl-card__title-text">
							Error
    					</h2>
					</div>
					<div class="mdl-card__supporting-text">
						<div class="mdl-grid">
							<span class="mdl-cell mdl-cell--1-col">
								<i class="material-icons">error_outline</i>
							</span>
							<span class="mdl-cell mdl-cell--1-col"></span>
							<h6 class="mdl-cell mdl-cell--10-col">Se produjo un error inesperado. Por favor, vuelva a intentarlo.</h6>
						</div>
					</div>
					<div class="mdl-card__actions mdl-card--border">
		    			<br />
		    			<br />	
  					</div>
					<div class="mdl-card__menu mdl-color-text--grey-400">
						<button ng-click="clearError()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab">
							<i class="material-icons">navigate_before</i>
						</button>
					</div>
           		</div>	
			</section>
			
			<!-- ****************************************************************** -->
			
			
			
			<!-- ******************** Single process ******************************** -->
			
			<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" ng-switch-when="1">
				<div class="mdl-card mdl-cell mdl-cell--12-col">
					<div class="mdl-card__title mdl-color--grey-800 mdl-color-text--grey-400">
						<h2 class="mdl-card__title-text">{{singleFile.optionTxt}}
							<button id="demo-menu-lower-left"
								class="mdl-button mdl-js-button mdl-button--icon">
      								<i class="material-icons">arrow_drop_down</i>
    						</button>
    					</h2>
					</div>
					<div ng-switch on="singleFile.option">
					
						<div ng-switch-when="0">
						</div>
					
						
						
						<!-- ******************** PDFparserController ********************* -->
						<div ng-switch-when="1">
							<div class="mdl-card__supporting-text">
							    <h6>Tipo de extractor a utilizar:</h6>
							    <ul>
				                  <li>
				                    <label for="pdf_tika" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
				                      <input type="checkbox" ng-model="pdfparser.tika" id="pdf_tika" class="mdl-checkbox__input" />
				                      <span class="mdl-checkbox__label">Tika</span>
				                    </label>
				                  </li>
				                  <li>
				                    <label for="pdf_pdfbox" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
				                      <input type="checkbox" ng-model="pdfparser.pdfbox" id="pdf_pdfbox" class="mdl-checkbox__input" />
				                      <span class="mdl-checkbox__label">PDFBox</span>
				                    </label>
				                  </li>
				                  <li>
				                    <label for="pdf_pdftotext" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
				                      <input type="checkbox" ng-model="pdfparser.pdftotext" id="pdf_pdftotext" class="mdl-checkbox__input" />
				                      <span class="mdl-checkbox__label">PDF to text</span>
				                    </label>
				                  </li>  
                				</ul>
						  	</div>
		  					<div class="mdl-card__actions mdl-card--border">
		    					<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
		    						ngf-select ng-model="pdfparser.infile" ngf-pattern="'.pdf, .doc'" accept=".pdf, .doc">
		      						Seleccionar archivo PDF o DOC
		    					</button>
		    					{{pdfparser.infile.name}}
		  					</div>
		  					<div class="mdl-card__menu mdl-color-text--grey-400">
    							<button ng-click="pdfparser_process()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab">
      								<i class="material-icons">navigate_next</i>
    							</button>
  							</div>
		  				</div>
		  				<!-- ************************************************************ -->
		  				
		  				
		  				
		  				<!-- ******************** MetadataController ********************* -->
						<div ng-switch-when="2">
						  	<div class="mdl-card__supporting-text mdl-card--border" ng-show="metadata.ready">
						  		<h6>Metadatos del archivo {{metadata.filename}}</h6>
						  		<div ng-repeat="(key, value) in metadata.array">
						  			<h6 ng-repeat="(controller_name, v) in value">{{controller_name}}</h6>
						  			<div ng-repeat="(a, b) in value">
						  			<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
						  				<tr ng-repeat="(i, k) in b">
						  					<td class="mdl-data-table__cell--non-numeric"><strong>{{i}}</strong></td>
						  					<td class="mdl-data-table__cell--non-numeric">{{k}}</td>
						  				</tr>
						  			</table>
						  			</div>
						  		</div>
						  		
						  	</div>
						  	<div class="mdl-card__supporting-text">
							    <h6>Tipo de extractor de metadatos a utilizar a utilizar:</h6>
							    <ul>
				                  <li>
				                    <label for="meta_tika" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
				                      <input type="checkbox" ng-model="metadata.tika" id="meta_tika" class="mdl-checkbox__input" />
				                      <span class="mdl-checkbox__label">Tika</span>
				                    </label>
				                  </li>
				                  <li>
				                    <label for="meta_pdfinfo" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
				                      <input type="checkbox" ng-model="metadata.pdfinfo" id="meta_pdfinfo" class="mdl-checkbox__input" />
				                      <span class="mdl-checkbox__label">PDFInfo</span>
				                    </label>
				                  </li>
                				</ul>
						  	</div>
		  					<div class="mdl-card__actions mdl-card--border">
		    					<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
		    						ngf-select ng-model="metadata.infile" ngf-pattern="'.pdf'" accept=".pdf">
		      						Seleccionar PDF
		    					</button>
		    					{{metadata.infile.name}}
		  					</div>
		  					<div class="mdl-card__menu mdl-color-text--grey-400">
    							<button ng-click="metadata_process()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab">
      								<i class="material-icons">navigate_next</i>
    							</button>
  							</div>
		  				</div>
		  				<!-- ************************************************************ -->
		  				
		  				
		  				<!-- ******************** PreprocessingController ********************* -->
						<div ng-switch-when="3">
							<div class="mdl-card__supporting-text">
								<h6>Lenguaje del archivo:</h6>
								<ul>
				                  <li>
				                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
				                      <input type="radio" class="mdl-radio__button"
				                      name="language" ng-model="preprocessing.lang" ng-value="'es'"/>
				                      <span class="mdl-radio__label">Español</span>
				                    </label>
				                  </li>
				                  <li>
				                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
				                      <input type="radio" class="mdl-radio__button"
				                      name="language" ng-model="preprocessing.lang" ng-value="'en'" />
				                      <span class="mdl-radio__label">Inglés</span>
				                    </label>
				                  </li>
				                </ul>
								<div ng-show="false">
							    <h6>Tipo de correcciones a aplicar:</h6>
							    <ul>
				                  <li>
				                    <label for="pre_dash" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
				                      <input type="checkbox" ng-model="preprocessing.dash" id="pre_dash" class="mdl-checkbox__input" />
				                      <span class="mdl-checkbox__label">Dash</span>
				                    </label>
				                  </li>
				                  <li>
				                    <label for="pre_onel" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
				                      <input type="checkbox" ng-model="preprocessing.onel" id="pre_onel" class="mdl-checkbox__input" />
				                      <span class="mdl-checkbox__label">Líneas</span>
				                    </label>
				                  </li>
				                  <li>
				                    <label for="pre_sent" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
				                      <input type="checkbox" ng-model="preprocessing.sent" id="pre_sent" class="mdl-checkbox__input" />
				                      <span class="mdl-checkbox__label">Sentencia</span>
				                    </label>
				                  </li>
				                  <li>
				                    <label for="pre_abrv" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
				                      <input type="checkbox" ng-model="preprocessing.abrv" id="pre_abrv" class="mdl-checkbox__input" />
				                      <span class="mdl-checkbox__label">Abreviaciones</span>
				                    </label>
				                  </li>  
                				</ul>
                				</div>
						  	</div>
		  					<div class="mdl-card__actions mdl-card--border">
		    					<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
		    						ngf-select ng-model="preprocessing.infile" ngf-pattern="'.txt'" accept=".txt">
		      						Seleccionar archivo de texto plano
		    					</button>
		    					{{preprocessing.infile.name}}
		  					</div>
		  					<div class="mdl-card__menu mdl-color-text--grey-400">
    							<button ng-click="preprocessing_process()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab">
      								<i class="material-icons">navigate_next</i>
    							</button>
  							</div>
		  				</div>
		  				<!-- ************************************************************ -->
		  				
		  				
		  				
		  				<!-- ******************** ReIndexController ********************* -->
						<div ng-switch-when="4">
							<div class="mdl-card__supporting-text mdl-card--border" ng-show="regularExpression.ready">
						  		<h6>Nombres científicos encontrados en el archivo {{regularExpression.filename}}</h6>
					  			<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
					  				<thead>
					  					<tr>
					  						<th>Recurso</th>
					  						<th class="mdl-data-table__cell--non-numeric">Nombre científico</th>
					  						<th class="mdl-data-table__cell--non-numeric">Texto</th>
					  					</tr>
					  				</thead>
					  				<tr ng-repeat="(i, k) in regularExpression.array">
					  					<td>{{k[3]}}</td>
					  					<td class="mdl-data-table__cell--non-numeric"><strong>{{k[1]}}</strong></td>
					  					<td class="mdl-data-table__cell--non-numeric space-wrap">{{k[4]}}</td>
					  				</tr>
					  			</table>
						  		
						  	</div>
							<div class="mdl-card__supporting-text">
								<h6>Lenguaje del archivo:</h6>
								<ul>
				                  <li>
				                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
				                      <input type="radio" class="mdl-radio__button"
				                      name="language" ng-model="regularExpression.lang" ng-value="'es'"/>
				                      <span class="mdl-radio__label">Español</span>
				                    </label>
				                  </li>
				                  <li>
				                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
				                      <input type="radio" class="mdl-radio__button"
				                      name="language" ng-model="regularExpression.lang" ng-value="'en'" />
				                      <span class="mdl-radio__label">Inglés</span>
				                    </label>
				                  </li>
				                </ul>
				                <h6>Nombres científicos</h6>
								<ul>
				                  <li>
				                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
				                      <input type="checkbox" ng-model="regularExpression.taxonfinder" class="mdl-checkbox__input" />
				                      <span class="mdl-checkbox__label">Utilizar listas para buscar todos los nombres científicos. Puede que existan omisiones.</span>
				                    </label>
				                  </li>
				                  <li>
				                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
				                      <input type="checkbox" ng-model="regularExpression.netineti" class="mdl-checkbox__input" />
				                      <span class="mdl-checkbox__label">Utilizar características contextuales para incluir posibles nombres mal escritos. Se pueden incluir errores.</span>
				                    </label>
				                  </li>
				                  <li>
				                  	<label>
				                    	<button ngf-select="regularExpressionUploadList($files, $invalidFiles)"  ngf-pattern="'.txt'" accept=".txt" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
		  									<i class="material-icons">add</i>
										</button>
										<span class="mdl-checkbox__label">Agregar archivo con nombres científicos en formato Género Especie.</span>
									</label>
									<ul ng-show="regularExpression.listFile.screenName">
										<li>Archivo cargado <span class="mdl-color-text--primary">{{regularExpression.listFile.screenName}}</span></li>
									</ul>	
				                  </li>
				                 </ul>
							</div>
		  					<div class="mdl-card__actions mdl-card--border">
		    					<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
		    						ngf-select ng-model="regularExpression.infile" ngf-pattern="'.txt'" accept=".txt">
		      						Seleccionar archivo de texto plano
		    					</button>
		    					{{regularExpression.infile.name}}
		  					</div>
		  					<div class="mdl-card__menu mdl-color-text--grey-400">
    							<button ng-click="regularExpression_process()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab">
      								<i class="material-icons">navigate_next</i>
    							</button>
  							</div>
		  				</div>
		  				<!-- ************************************************************ -->
		  				
		  				
		  				
  					</div>
           		</div>
           		<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
        					for="demo-menu-lower-left">
					<li class="mdl-menu__item" ng-click="singleFile.setOptionTxt(1)">
						<i class="material-icons">picture_as_pdf</i>Extraer texto de archivo
					</li>
					<li class="mdl-menu__item" ng-click="singleFile.setOptionTxt(2)">
						<i class="material-icons">picture_as_pdf</i>Extraer metadatos de PDF
					</li>
					<li class="mdl-menu__item" ng-click="singleFile.setOptionTxt(3)">
						<i class="material-icons">text_format</i>Corregir archivo de texto
					</li>
					<li class="mdl-menu__item" ng-click="singleFile.setOptionTxt(4)">
						<i class="material-icons">search</i>Buscar nombres científicos
					</li>
				</ul> 	
			</section>
			
			
			<!-- ******************** ******************* ******************************** -->
			
			
			
			
			<!-- ******************* Whole process screen ******************************* -->
  		
  			<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" ng-switch-when="2">
				<div class="mdl-card mdl-cell mdl-cell--12-col">
					<div class="mdl-card__title mdl-color--grey-800 mdl-color-text--grey-400">
						<h2 class="mdl-card__title-text">
							Proceso completo
    					</h2>
					</div>
					<div class="mdl-card__supporting-text" ng-show="!wholeProcess.ready">
					<div ng-show="false">
						<h6>Tipo de extractor de PDF:</h6>
						<ul>
		                  <li>
		                    <label for="whole_tika" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
		                      <input type="radio" id="whole_tika" class="mdl-radio__button"
		                      ng-model="wholeProcess.pdfparser" name="whole_parser" ng-value="'tika'" />
		                      <span class="mdl-radio__label">Tika</span>
		                    </label>
		                  </li>
		                  <li>
		                    <label for="whole_pdfbox" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
		                      <input type="radio" id="whole_pdfbox" class="mdl-radio__button"
		                      ng-model="wholeProcess.pdfparser" name="whole_parser" ng-value="'pdfbox'" />
		                      <span class="mdl-radio__label">PDFBox</span>
		                    </label>
		                  </li>
		                  <li>
		                    <label for="whole_pdftotext" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
		                      <input type="radio" id="whole_pdftotext" class="mdl-radio__button"
		                      ng-model="wholeProcess.pdfparser" name="whole_parser" ng-value="'pdftotext'" />
		                      <span class="mdl-radio__label">PDF to text</span>
		                    </label>
		                  </li>  
          				</ul>
          			</div>
          				<h6>Lenguaje del archivo:</h6>
						<ul>
		                  <li>
		                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
		                      <input type="radio" class="mdl-radio__button"
		                      name="language" ng-model="wholeProcess.lang" ng-value="'es'"/>
		                      <span class="mdl-radio__label">Español</span>
		                    </label>
		                  </li>
		                  <li>
		                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
		                      <input type="radio" class="mdl-radio__button"
		                      name="language" ng-model="wholeProcess.lang" ng-value="'en'" />
		                      <span class="mdl-radio__label">Inglés</span>
		                    </label>
		                  </li>
		                 </ul>
		                <div ng-show="false">
          				<h6>Corregir oraciones del texto:</h6>
						<ul>
		                  <li>
		                    <label for="whole_correction" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
		                      <input type="radio" id="whole_correction" class="mdl-radio__button"
		                      name="whole_correction" ng-model="wholeProcess.preprocessing" ng-value="true" />
		                      <span class="mdl-radio__label">Produce una oración por cada línea del texto resultante.</span>
		                    </label>
		                  </li>
		                  <li>
		                    <label for="whole_not_correction" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
		                      <input type="radio" id="whole_not_correction" class="mdl-radio__button"
		                      name="whole_correction" ng-model="wholeProcess.preprocessing" ng-value="false" />
		                      <span class="mdl-radio__label">Obtener el resultado del OCR sin alteraciones.</span>
		                    </label>
		                  </li>  
           				</ul>
           				</div>
           				<h6>Nombres científicos:</h6>
						<ul>
		                  <li>
		                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
		                      <input type="checkbox" class="mdl-checkbox__input"
		                      name="scientific_names" ng-model="wholeProcess.taxonfinder" />
		                      <span class="mdl-checkbox__label">Utilizar listas para buscar todos los nombres científicos. Puede que existan omisiones.</span>
		                    </label>
		                  </li>
		                  <li>
		                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
		                      <input type="checkbox" class="mdl-checkbox__input"
		                      name="scientific_names" ng-model="wholeProcess.netineti" />
		                      <span class="mdl-checkbox__label">Utilizar características contextuales para incluir posibles nombres mal escritos. Se pueden incluir errores.</span>
		                    </label>
		                  </li>  
		                  <li>
		                  	<label>
		                    	<button ngf-select="wholeProcessUploadList($files, $invalidFiles)"  ngf-pattern="'.txt'" accept=".txt" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
  									<i class="material-icons">add</i>
								</button>
								<span class="mdl-checkbox__label">Agregar archivo con nombres científicos en formato Género Especie.</span>
							</label>
							<ul ng-show="wholeProcess.listFile.screenName">
								<li>Archivo cargado <span class="mdl-color-text--primary">{{wholeProcess.listFile.screenName}}</span></li>
							</ul>	
		                  </li>
		                  
           				</ul>
           				<h6>Cantidad de archivos a procesar: (Los archivos pueden tener extensiones txt, pdf o doc)</h6>
						<ul>
		                  <li>
		                    <label for="whole_multiple" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
		                      <input type="radio" id="whole_multiple" class="mdl-radio__button"
		                      name="whole_multiple" ng-model="wholeProcess.multiple" ng-value="false" />
		                      <span class="mdl-radio__label">Cargar un solo archivo y obtener el resultado en pantalla.</span>
		                    </label>
		                  </li>
		                  <li>
		                    <label for="whole_not_multiple" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
		                      <input type="radio" id="whole_not_multiple" class="mdl-radio__button"
		                      name="whole_multiple" ng-model="wholeProcess.multiple" ng-value="true" />
		                      <span class="mdl-radio__label">Cargar varios archivos y obtener un archivo ZIP.</span>
		                    </label>
		                  </li>  
           				</ul>
					</div>
					<div class="mdl-card__supporting-text" ng-show="wholeProcess.ready">
						<h6>Nombres científicos encontrados en el archivo {{wholeProcess.filename}}<a ng-href="{{url}}download_file/{{wholeProcess.array.file}}" target="_blank"><i class="material-icons">file_download</i></a></h6>
			  			<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
			  				<thead>
			  					<tr>
			  						<th>Recurso</th>
			  						<th class="mdl-data-table__cell--non-numeric">Nombre científico</th>
			  						<th class="mdl-data-table__cell--non-numeric">Texto</th>
			  					</tr>
			  				</thead>
			  				<tr ng-repeat="(i, k) in wholeProcess.array.array">
			  					<td>{{k[3]}}</td>
			  					<td class="mdl-data-table__cell--non-numeric"><strong>{{k[1]}}</strong></td>
			  					<td class="mdl-data-table__cell--non-numeric space-wrap">{{k[4]}}</td>
			  				</tr>
			  			</table>
					</div>
					<div ng-show="!wholeProcess.ready" class="mdl-card__actions mdl-card--border">
    					<button ng-show="!wholeProcess.multiple" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
    						ngf-select ng-model="wholeProcess.infile" ngf-pattern="'.pdf, .txt, .doc'" accept=".pdf, .txt, .doc">
      						Seleccionar archivo
    					</button>
    					<button ng-show="wholeProcess.multiple" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
    						ngf-select ng-model="wholeProcess.infile" multiple ngf-pattern="'.pdf, .txt, .doc'" accept=".pdf, .txt, .doc">
      						Seleccionar archivos
    					</button>
    					<span ng-show="!wholeProcess.multiple">{{wholeProcess.infile.name}}</span>
    					<div ng-show="wholeProcess.multiple">
    						<div ng-repeat="f in wholeProcess.infile">{{f.name}}</div>
    					</div>
  					</div>
  					<div class="mdl-card__menu mdl-color-text--grey-400">
  							<button ng-show="!wholeProcess.ready" ng-click="wholeProcess_process()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab">
    								<i class="material-icons">navigate_next</i>
  							</button>
  							<button ng-show="wholeProcess.ready" ng-click="wholeProcess_reset()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab">
    								<i class="material-icons">navigate_before</i>
  							</button>
					</div>
           		</div>	
			</section>
			
			<!-- ****************************************************************** -->
			
			<section ng-show="emptyFileError" class="section--center mdl-grid mdl-grid--no-spacing">
				<h6 class="mdl-color-text--pink-700"><i class="material-icons">info</i>Por favor, selecciona un archivo.</h6>
			</section>
			
			
  		</main>
	</div>
	<script src="libs/material-design-lite/material.min.js"></script>
	<script src="libs/angular/angular.js"></script>
	<script src="libs/angular-animate/angular-animate.js"></script>
	<script src="libs/ng-file-upload/ng-file-upload.js"></script>
	<script src="config.js"></script>
	<script src="webapp.js"></script>
</body>
</html>	